table,th,tr,td{
  border: 2px solid blue;
  border-collapse: collapse;
  text-align: center;
  color: teal;
  background-color: black;
}

.table-responsive{
	margin-top:30px;}
	
body{
	background-color: black;}
	
th{
	color: red;}

.table{	
	display: inline-table !important;}